docker-testbed/data/node-red-data/flows.json
[{"id":"5afd074f.387968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a57db7cd.f9f25","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32d3906.02a53f","type":"inject","z":"5afd074f.387968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["c4b38b49.932888"]]},{"id":"c4b38b49.932888","type":"debug","z":"5afd074f.387968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":200,"wires":[]},{"id":"69079dea.483df4","type":"mqtt in","z":"5afd074f.387968","name":"","topic":"$SYS/broker/uptime","qos":"2","datatype":"auto","broker":"a57db7cd.f9f25","x":190,"y":120,"wires":[["c4b38b49.932888"]]}]