docker-testbed/data/node-red-data/flows.json
[{"id":"5afd074f.387968","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a57db7cd.f9f25","type":"mqtt-broker","z":"","name":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"32d3906.02a53f","type":"inject","z":"5afd074f.387968","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["c4b38b49.932888"]]},{"id":"c4b38b49.932888","type":"debug","z":"5afd074f.387968","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":690,"y":120,"wires":[]},{"id":"69079dea.483df4","type":"mqtt in","z":"5afd074f.387968","name":"","topic":"$SYS/broker/uptime","qos":"2","datatype":"auto","broker":"a57db7cd.f9f25","x":190,"y":80,"wires":[["c4b38b49.932888"]]},{"id":"f90042a7.c1ff8","type":"mqtt in","z":"5afd074f.387968","name":"","topic":"sensor/temperature","qos":"2","datatype":"json","broker":"a57db7cd.f9f25","x":130,"y":440,"wires":[["12859247.1145d6"]]},{"id":"d861e636.8bbfb","type":"sensor-compensate-confiability","z":"5afd074f.387968","name":"","msghistory":10,"timeout":"7","strategy":"mean","x":650,"y":440,"wires":[["37b2b9c.dadb446"],[],[]]},{"id":"12859247.1145d6","type":"change","z":"5afd074f.387968","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":440,"wires":[["d861e636.8bbfb"]]},{"id":"37b2b9c.dadb446","type":"function","z":"5afd074f.387968","name":"","func":"var msgx = {\"payload\": \"\"}\nfor (let [key, value] of Object.entries(msg)) {\n    msgx.payload += value\n    msgx.payload += \";\"\n}\nreturn msgx;","outputs":1,"noerr":0,"x":930,"y":420,"wires":[["30300540.5ac5e2"]]},{"id":"30300540.5ac5e2","type":"debug","z":"5afd074f.387968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1100,"y":420,"wires":[]}]