test-acceptance/replication-voter.json
[
  {
    "id": "42b63934.c4db9",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2aac0588.c28b52",
    "type": "replication-voter",
    "z": "42b63934.c4db9",
    "name": "",
    "valueType": "number",
    "majority": "2",
    "countInputs": "3",
    "margin": "",
    "result": "mean",
    "x": 720,
    "y": 340,
    "wires": [["50f7d74c.014f08"], ["6d208bf7.dd02cc"]]
  },
  {
    "id": "5c40e81a.f84e6",
    "type": "inject",
    "z": "42b63934.c4db9",
    "name": "Inject2",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "2",
    "payloadType": "num",
    "x": 430,
    "y": 400,
    "wires": [["2aac0588.c28b52"]]
  },
  {
    "id": "d4092163.98c768",
    "type": "inject",
    "z": "42b63934.c4db9",
    "name": "Inject1",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 430,
    "y": 280,
    "wires": [["2aac0588.c28b52"]]
  },
  {
    "id": "50f7d74c.014f08",
    "type": "debug",
    "z": "42b63934.c4db9",
    "name": "Majority",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1000,
    "y": 280,
    "wires": []
  },
  {
    "id": "6d208bf7.dd02cc",
    "type": "debug",
    "z": "42b63934.c4db9",
    "name": "No Majority",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 400,
    "wires": []
  }
]
