samples/confidence.json
[
  {
    "id": "80ba52feed0e1803",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "d9e0ae743eaef252",
    "type": "confidence",
    "z": "80ba52feed0e1803",
    "name": "",
    "measurementUncertainty": "5",
    "x": 410,
    "y": 180,
    "wires": [["96d48b6069e07d10"], ["aeeb0b5737165b63"]]
  },
  {
    "id": "61ebe3060b8bb7c4",
    "type": "inject",
    "z": "80ba52feed0e1803",
    "name": "Sensor reading",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "40",
    "payloadType": "num",
    "x": 180,
    "y": 180,
    "wires": [["d9e0ae743eaef252"]]
  },
  {
    "id": "96d48b6069e07d10",
    "type": "debug",
    "z": "80ba52feed0e1803",
    "name": "Success flow",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 140,
    "wires": []
  },
  {
    "id": "aeeb0b5737165b63",
    "type": "debug",
    "z": "80ba52feed0e1803",
    "name": "Error flow",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 220,
    "wires": []
  }
]
