samples/device-registry.json
[
  {
    "id": "fd254d31.c47e58",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "ffc7c7d0.34255",
    "type": "inject",
    "z": "fd254d31.c47e58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "{\"deviceId\":\"2\", \"deviceName\":\"FireSensor\", \"deviceIp\":\"192.160.112\"}",
    "payloadType": "str",
    "x": 110,
    "y": 140,
    "wires": [["8bcb40c9.84db7"]]
  },
  {
    "id": "1d5977d4.ce15b",
    "type": "device-registry",
    "z": "fd254d31.c47e58",
    "name": "",
    "x": 520,
    "y": 260,
    "wires": [["ddf59623.2399b"], ["64f3863a.bb00b"], ["a4ed016a.fc316"]]
  },
  {
    "id": "8bcb40c9.84db7",
    "type": "function",
    "z": "fd254d31.c47e58",
    "name": "",
    "func": "msg.payload = [ {\"Id\":\"1\", \"Name\":\"FireSensor\", \"Ip\":\"192.160.111\",\"Status\" : \"on\"}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 300,
    "y": 140,
    "wires": [["1d5977d4.ce15b"]]
  },
  {
    "id": "5653cf97.ff7d9",
    "type": "function",
    "z": "fd254d31.c47e58",
    "name": "",
    "func": "msg.payload = [ {\"Id\":\"1\", \"Name\":\"FireSensor\", \"Ip\":\"192.160.111\",\"Status\" : \"off\"}];\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 280,
    "y": 340,
    "wires": [["1d5977d4.ce15b"]]
  },
  {
    "id": "b05e7600.5cab2",
    "type": "inject",
    "z": "fd254d31.c47e58",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "",
    "topic": "",
    "payload": "{\"deviceId\":\"2\", \"deviceName\":\"FireSensor\", \"deviceIp\":\"192.160.112\"}",
    "payloadType": "str",
    "x": 110,
    "y": 340,
    "wires": [["5653cf97.ff7d9"]]
  },
  {
    "id": "a4ed016a.fc316",
    "type": "debug",
    "z": "fd254d31.c47e58",
    "name": "Removed",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 740,
    "y": 420,
    "wires": []
  },
  {
    "id": "64f3863a.bb00b",
    "type": "debug",
    "z": "fd254d31.c47e58",
    "name": "New Device",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 850,
    "y": 260,
    "wires": []
  },
  {
    "id": "ddf59623.2399b",
    "type": "split",
    "z": "fd254d31.c47e58",
    "name": "",
    "splt": "",
    "spltType": "str",
    "arraySplt": 1,
    "arraySpltType": "len",
    "stream": false,
    "addname": "payload",
    "x": 730,
    "y": 160,
    "wires": [["a60ca5f6.88b368"]]
  },
  {
    "id": "a60ca5f6.88b368",
    "type": "debug",
    "z": "fd254d31.c47e58",
    "name": "Online Devices",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1040,
    "y": 160,
    "wires": []
  }
]
