samples/heartbeat-passive-http.json
[
  {
    "id": "f3f0819f.089",
    "type": "tab",
    "label": "http passive",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e3659753.146228",
    "type": "debug",
    "z": "f3f0819f.089",
    "name": "success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 680,
    "y": 260,
    "wires": []
  },
  {
    "id": "5f766f70.80e4e",
    "type": "debug",
    "z": "f3f0819f.089",
    "name": "error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 670,
    "y": 320,
    "wires": []
  },
  {
    "id": "31e9a06d.65142",
    "type": "http in",
    "z": "f3f0819f.089",
    "name": "",
    "url": "/http",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 210,
    "y": 260,
    "wires": [["d2fbc122.3a6d7"]]
  },
  {
    "id": "47cb01ce.bab69",
    "type": "http request",
    "z": "f3f0819f.089",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "localhost:1880/http",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 630,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "b80da0ba.34ac1",
    "type": "inject",
    "z": "f3f0819f.089",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "10",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 330,
    "y": 140,
    "wires": [["47cb01ce.bab69"]]
  },
  {
    "id": "d2fbc122.3a6d7",
    "type": "heartbeat",
    "z": "f3f0819f.089",
    "frequency": "10",
    "protocol": "passive",
    "onfail": false,
    "delay": 5,
    "x": 460,
    "y": 260,
    "wires": [[], ["e3659753.146228"], ["5f766f70.80e4e"]]
  }
]
