samples/heartbeat-active-mqtt.json
[
  {
    "id": "9b0b3a38.708c68",
    "type": "tab",
    "label": "mqtt active",
    "disabled": false,
    "info": ""
  },
  {
    "id": "af73f173.47662",
    "type": "debug",
    "z": "9b0b3a38.708c68",
    "name": "success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 720,
    "y": 320,
    "wires": []
  },
  {
    "id": "beb3b3aa.f26dd",
    "type": "debug",
    "z": "9b0b3a38.708c68",
    "name": "error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 710,
    "y": 380,
    "wires": []
  },
  {
    "id": "97658c2e.e2926",
    "type": "mqtt out",
    "z": "9b0b3a38.708c68",
    "name": "",
    "topic": "mqttactive",
    "qos": "",
    "retain": "",
    "broker": "9e9202b4.186a5",
    "x": 730,
    "y": 240,
    "wires": []
  },
  {
    "id": "b12ebc31.92928",
    "type": "mqtt in",
    "z": "9b0b3a38.708c68",
    "name": "",
    "topic": "mqttactive",
    "qos": "2",
    "datatype": "auto",
    "broker": "9e9202b4.186a5",
    "x": 250,
    "y": 320,
    "wires": [["1661bdd9.ab46e2"]]
  },
  {
    "id": "1661bdd9.ab46e2",
    "type": "heartbeat",
    "z": "9b0b3a38.708c68",
    "frequency": "10",
    "protocol": "active",
    "onfail": false,
    "delay": 5,
    "x": 460,
    "y": 320,
    "wires": [["97658c2e.e2926"], ["af73f173.47662"], ["beb3b3aa.f26dd"]]
  },
  {
    "id": "9e9202b4.186a5",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "localhost",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "heartbeat",
    "birthQos": "0",
    "birthPayload": "Alive",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "Disconnecting",
    "willTopic": "",
    "willQos": "0",
    "willPayload": "Unexpected disconnection occured"
  }
]
