samples/heartbeat-active-http.json
[
  {
    "id": "963e5fa5.cc983",
    "type": "tab",
    "label": "http active",
    "disabled": false,
    "info": ""
  },
  {
    "id": "d1a8102c.40978",
    "type": "debug",
    "z": "963e5fa5.cc983",
    "name": "success",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 700,
    "y": 300,
    "wires": []
  },
  {
    "id": "4a9160a3.34d6b",
    "type": "debug",
    "z": "963e5fa5.cc983",
    "name": "error",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 360,
    "wires": []
  },
  {
    "id": "faf0fac3.989e88",
    "type": "http in",
    "z": "963e5fa5.cc983",
    "name": "",
    "url": "/httpactive",
    "method": "get",
    "upload": false,
    "swaggerDoc": "",
    "x": 240,
    "y": 300,
    "wires": [["fd9d7a72.1f1dd8"]]
  },
  {
    "id": "2ad7868f.b2485a",
    "type": "http request",
    "z": "963e5fa5.cc983",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "localhost:1880/httpactive",
    "tls": "",
    "persist": false,
    "proxy": "",
    "authType": "",
    "x": 720,
    "y": 220,
    "wires": [[]]
  },
  {
    "id": "fd9d7a72.1f1dd8",
    "type": "heartbeat",
    "z": "963e5fa5.cc983",
    "frequency": "10",
    "protocol": "active",
    "onfail": false,
    "delay": 5,
    "x": 460,
    "y": 300,
    "wires": [["2ad7868f.b2485a"], ["d1a8102c.40978"], ["4a9160a3.34d6b"]]
  }
]
