samples/redundancy-manager.json
[
  {
    "id": "ca43a1c7.8814d8",
    "type": "tab",
    "label": "Redundancy Manager",
    "disabled": false,
    "info": ""
  },
  {
    "id": "2ba01c08.adb1d4",
    "type": "mqtt out",
    "z": "ca43a1c7.8814d8",
    "name": "",
    "topic": "/redundancy",
    "qos": "",
    "retain": "",
    "broker": "f2f39f87.674cd8",
    "x": 630,
    "y": 400,
    "wires": []
  },
  {
    "id": "90f18caf.46d058",
    "type": "redundancy-manager",
    "z": "ca43a1c7.8814d8",
    "name": "",
    "frequency": "10",
    "timeout": "10",
    "pingInterval": "5",
    "x": 440,
    "y": 360,
    "wires": [["40295a3f.9bf594"], ["8434a5ef.dc57e8"], ["2ba01c08.adb1d4"]]
  },
  {
    "id": "8434a5ef.dc57e8",
    "type": "debug",
    "z": "ca43a1c7.8814d8",
    "name": "IPs",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 360,
    "wires": []
  },
  {
    "id": "2620ae5d.9c4252",
    "type": "mqtt in",
    "z": "ca43a1c7.8814d8",
    "name": "",
    "topic": "/redundancy",
    "qos": "2",
    "datatype": "auto",
    "broker": "f2f39f87.674cd8",
    "x": 250,
    "y": 360,
    "wires": [["90f18caf.46d058"]]
  },
  {
    "id": "c5d4f361.19b5c",
    "type": "catch",
    "z": "ca43a1c7.8814d8",
    "name": "Redundancy errors",
    "scope": ["90f18caf.46d058"],
    "uncaught": false,
    "x": 430,
    "y": 320,
    "wires": [["a0a2036b.378248"]]
  },
  {
    "id": "a0a2036b.378248",
    "type": "debug",
    "z": "ca43a1c7.8814d8",
    "name": "Errors",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 630,
    "y": 280,
    "wires": []
  },
  {
    "id": "40295a3f.9bf594",
    "type": "debug",
    "z": "ca43a1c7.8814d8",
    "name": "Am I master?",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 320,
    "wires": []
  },
  {
    "id": "f2f39f87.674cd8",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "192.168.1.100",
    "port": "9876",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]
