samples/replication-voter.json
[
  {
    "id": "42b63934.c4db9",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "23ddca03.c7b446",
    "type": "replication-voter",
    "z": "42b63934.c4db9",
    "name": "",
    "valueType": "number",
    "majority": "2",
    "countInputs": "3",
    "margin": "0",
    "result": "lowest",
    "x": 660,
    "y": 340,
    "wires": [["c232b366.f0e5c8"], ["f4108e09.aae268"]]
  },
  {
    "id": "f4108e09.aae268",
    "type": "debug",
    "z": "42b63934.c4db9",
    "name": "no-majority(fault)",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 950,
    "y": 420,
    "wires": []
  },
  {
    "id": "c232b366.f0e5c8",
    "type": "debug",
    "z": "42b63934.c4db9",
    "name": "majority",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 920,
    "y": 260,
    "wires": []
  },
  {
    "id": "3d9c72c2.a25cee",
    "type": "inject",
    "z": "42b63934.c4db9",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "1",
    "payloadType": "num",
    "x": 370,
    "y": 260,
    "wires": [["23ddca03.c7b446"]]
  },
  {
    "id": "ad1675bf.2991d8",
    "type": "inject",
    "z": "42b63934.c4db9",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "2",
    "payloadType": "num",
    "x": 370,
    "y": 340,
    "wires": [["23ddca03.c7b446"]]
  },
  {
    "id": "60576201.218a34",
    "type": "inject",
    "z": "42b63934.c4db9",
    "name": "",
    "props": [{ "p": "payload" }, { "p": "topic", "vt": "str" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "3",
    "payloadType": "num",
    "x": 370,
    "y": 420,
    "wires": [["23ddca03.c7b446"]]
  }
]
