samples/resource-monitor.json
[
  {
    "id": "f46cbdac.2828",
    "type": "tab",
    "label": "Resource Monitor",
    "disabled": false,
    "info": ""
  },
  {
    "id": "31d0bc90.732184",
    "type": "cpu",
    "z": "f46cbdac.2828",
    "name": "",
    "msgCore": false,
    "msgOverall": true,
    "msgArray": false,
    "msgTemp": false,
    "x": 424,
    "y": 320,
    "wires": [["4e432c20.bcd014"]]
  },
  {
    "id": "8e876cc3.1132d",
    "type": "inject",
    "z": "f46cbdac.2828",
    "name": "Input",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 210,
    "y": 320,
    "wires": [
      [
        "141ff910.5e23a7",
        "31d0bc90.732184",
        "a6d88b04.eab928",
        "778ed827.6a2c28"
      ]
    ]
  },
  {
    "id": "141ff910.5e23a7",
    "type": "Memory",
    "z": "f46cbdac.2828",
    "name": "",
    "x": 414,
    "y": 220,
    "wires": [["644fc2e2.19cffc"]]
  },
  {
    "id": "a6d88b04.eab928",
    "type": "change",
    "z": "f46cbdac.2828",
    "name": "Storage",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"storage\": 50}",
        "tot": "json"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 520,
    "y": 420,
    "wires": [["7c35f35b.745ddc"]]
  },
  {
    "id": "644fc2e2.19cffc",
    "type": "change",
    "z": "f46cbdac.2828",
    "name": "Mem into JSON",
    "rules": [
      {
        "t": "delete",
        "p": "payload.totalmem",
        "pt": "msg"
      },
      {
        "t": "delete",
        "p": "payload.freemem",
        "pt": "msg"
      },
      {
        "t": "move",
        "p": "payload.memusage",
        "pt": "msg",
        "to": "payload.RAM",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "payload.RAM",
        "pt": "msg",
        "to": "$number(payload.RAM)",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 634,
    "y": 220,
    "wires": [["7c35f35b.745ddc"]]
  },
  {
    "id": "4e432c20.bcd014",
    "type": "function",
    "z": "f46cbdac.2828",
    "name": "CPU into JSON",
    "func": "let newMsg = {payload: {CPU: msg.payload}};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 634,
    "y": 320,
    "wires": [["7c35f35b.745ddc"]]
  },
  {
    "id": "7c35f35b.745ddc",
    "type": "join",
    "z": "f46cbdac.2828",
    "name": "",
    "mode": "custom",
    "build": "merged",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "",
    "count": "4",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 864,
    "y": 320,
    "wires": [["64d5e578.0d182c"]]
  },
  {
    "id": "1b1f55e6.70ef9a",
    "type": "debug",
    "z": "f46cbdac.2828",
    "name": "Out of bounds",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 240,
    "wires": []
  },
  {
    "id": "96b15eab.a9ca",
    "type": "debug",
    "z": "f46cbdac.2828",
    "name": "CPU too high",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1310,
    "y": 280,
    "wires": []
  },
  {
    "id": "64d5e578.0d182c",
    "type": "resource-monitor",
    "z": "f46cbdac.2828",
    "name": "",
    "resourcesMask": 15,
    "maxCPU": "100",
    "maxRAM": "100",
    "maxStorage": "100",
    "minBattery": "0",
    "x": 1070,
    "y": 320,
    "wires": [
      ["1b1f55e6.70ef9a"],
      ["96b15eab.a9ca"],
      ["65c34a52.018064"],
      ["c6f0ca04.412878"],
      ["c7fedc0c.69b96"]
    ]
  },
  {
    "id": "778ed827.6a2c28",
    "type": "battery",
    "z": "f46cbdac.2828",
    "name": "",
    "level": true,
    "charging": true,
    "x": 420,
    "y": 500,
    "wires": [["701e061e.e1d198"]]
  },
  {
    "id": "701e061e.e1d198",
    "type": "function",
    "z": "f46cbdac.2828",
    "name": "CPU into JSON",
    "func": "let newMsg = {payload: {battery: msg.payload.percent}};\nreturn newMsg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 620,
    "y": 500,
    "wires": [["7c35f35b.745ddc"]]
  },
  {
    "id": "65c34a52.018064",
    "type": "debug",
    "z": "f46cbdac.2828",
    "name": "RAM too high",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 320,
    "wires": []
  },
  {
    "id": "c6f0ca04.412878",
    "type": "debug",
    "z": "f46cbdac.2828",
    "name": "Storage too high",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 360,
    "wires": []
  },
  {
    "id": "c7fedc0c.69b96",
    "type": "debug",
    "z": "f46cbdac.2828",
    "name": "Battery too low",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1320,
    "y": 400,
    "wires": []
  }
]
